@font-face {
    font-family: "Forum";
    src: url("../fonts/Forum-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Optimus";
    src: url("../fonts/Optimus.ttf") format("truetype");
}


/* Certificate */
.user-certificate {
    width: 595pt;
    height: 841pt;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificate__border-1 {
    width: calc(100% - 15pt);
    height: calc(100% - 18pt);
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificate__border-2 {
    width: calc(100% - 13pt);
    height: calc(100% - 13pt);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificate__border-3 {
    width: calc(100% - 7pt);
    height: calc(100% - 7pt);
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificate__border-4 {
    width: calc(100% - 25pt);
    height: calc(100% - 25pt);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificate__border-5 {
    position: relative;
    overflow: hidden;
    width: calc(100% - 14pt);
    height: calc(100% - 14pt);
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.certificate__content-wrapper {
    position: relative;
    font-family: 'Optimus';
    text-align: center;
    padding: 126pt 18pt 54pt;
    color: #000;
    width: 445pt;
    background: rgba(255, 255, 255, 0.5);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.certificate__title {
    font-family: 'Forum';
    font-weight: 100;
    font-size: 77pt;
    margin-bottom: 14pt;
}

.certificate__text-1 {
    font-size: 13pt;
    margin-bottom: 27pt;
}

.certificate__user-name {
    font-size: 18pt;
    letter-spacing: 1pt;
    text-transform: uppercase;
}

.certificate__underline-1 {
    width: calc(100% - 36pt);
    height: .5pt;
    background: #333;
}

.certificate__text-2 {
    font-size: 13pt;
    margin-top: 32pt;
    line-height: 1.7;
}

.certificate__text-3 {
    font-size: 13pt;
    margin-top: 27pt;
    line-height: 1.7;
}

.certificate__footer {
    width: calc(100% - 36pt);
    margin-top: 81pt;
    display: flex;
    justify-content: space-between;
}

.certificate__footer-left {
    text-align: left;
}

.certificate__footer-text-1 {
    font-size: 7pt;
    margin-bottom: 9pt;
}

.certificate__footer-text-2 {
    font-size: 11pt;
}

.certificate__underline-2 {
    width: 135pt;
    height: .5pt;
    background: #333;
}

.certificate__footer-right {
    text-align: right;
}

.certificate__underline-3 {
    width: 99pt;
    height: .5pt;
    background: #333;
}

.certificate__logo-background {
    opacity: .17;
    font-family: 'Times New Roman';
    line-height: .8;
    font-weight: lighter;
    font-size: 13pt;
    transform: rotateZ(-10deg) scaleX(.8);
    position: absolute;
    overflow: hidden;
    word-break: break-all;
    color: red;
    width: 240%;
    height: 120%;
    background: transparent;
}

.certificate__logo-kb {
    position: absolute;
    top: -60pt;
    left: 50%;
    transform: translate(-50%, 0);

    width: 396pt;
}

.certificate__medal {
    position: absolute;
    bottom: 18pt;
    left: calc(50% + 18pt);
    transform: translate(-50%, 50%);

    width: 144pt;
}

.certificate__logo-kb img {
    width: 100%;
    height: auto;
}

.certificate__medal img {
    width: 100%;
    height: auto;
    -webkit-filter: drop-shadow(5pt 9pt 9pt #000);
    filter: drop-shadow(5pt 9pt 9pt #000);
}